*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(to bottom, #000000, #013A63);
    display: grid;
    place-items: center;
}

.calculadora{
    background: rgba(10, 42, 69, 0.8);
    color: aliceblue;
    display: grid;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;

}
.pantalla{
    grid-column: 1 / -1;
    background-color: #171919;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom:1rem ;
    font-family: monospace;
    font-weight: 600;
}
.btn{
    background: rgba(22, 56, 83, 0.8); 
    color: aliceblue;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    
}

.btn:hover{
    background-color: rgb(36, 24, 24);
    
}

#cero{
    grid-column: span 2;
}

#igual{
    grid-row:span 2;
    background-color: burlywood;
}

#igual:hover{
    background-color: rgb(112, 130, 93);
}